@charset "UTF-8";
/* CSS Document */

/* font collegato */
@font-face {
	font-family: montserrat;
	src: url("../MATERIALI/Fonts/Montserrat/Montserrat-ExtraLight.ttf")
	}


/* specifica al body perchè non ci siano spazi lungo i margini */
body{
	margin: 0;
	padding: 0;
	border: 0;
	
	font-family: 'montserrat', sans-serif;
	text-align: center;
	}


/* For desktop: */ 


/* classe che fa sì che i DIVONI si dividano a metà lo schermo */ 
.col-6 {
	width: 50%;
	display:flexbox;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	overflow-y:scroll;
}

/* DIVONE sx */
.parent {
	float:left;
	overflow-y: hidden;
	}

.gif {
	margin: 2% 0%;
	width:85%;
	}


/* DIVONE dx */
.titolo  {
	margin:10% 0 2% 0;
	font-size: 600%;
	}

.descrizione {
	display: block;
	margin: 5% 10%;
	
	font-size: 14px;
	}

/* poprietà del div contenente l'iframe con la playlist*/
iframe {
	margin: 10% 0;
}
		

/* div contenente i due pulsanti "torna alla home" e "torna alle vibes"*/ 
.pulsanti {
	font-weight: bolder;
	margin-bottom:30vh;
}

/* poprietà sepcifiche dei pulsanti*/
.pulsante { 
	display: block;
	color:black;
    text-decoration: none; 
	border: 1px solid black; 
	border-radius: 20px;
	padding: 8px;
	margin: 5% auto;
	font-size: 2.5vh;
    width: 150px;
	}

.pulsante:hover { 
	color: #1DB954;
    border: 1px solid #1DB954; 
	cursor:pointer;
	}


/*proprietà che fa sì che i due DIVONI si incolonnino l'uno sotto l'altro - che non siano più affiancati*/

/* For i-pad: */
@media screen and (max-width: 1024px) {	
	
.col-6 {
	width: 100%;
	height:auto;
	overflow-y: visible ;
}

.titolo  {
	margin:20% 0 5% 0;
	font-size: 1000%;
	}

.descrizione {
	margin: 10% 10%;
	}

.gif {
	margin: 5% 0;
	width:100%;
}
.parent {
	float:none;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: auto;
	}
	

.pulsanti {
	padding: 10vh 0;
	width:70%;
	height:auto;
	margin:auto;
}

.pulsante{
	width:100%;
}

}

/* For i-pad: */
@media screen and (max-width: 768px) {
	
.pulsanti {
	margin: 5vh 0;
}

	}